# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test and coverage reports
htmlcov/
.coverage
*.cover
*.py,cover
.cache